.wholePageCover{
    background: rgba(57, 55, 72, 0.22);
    position: fixed;
    top: 80px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 20;
}

.container{
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 24px;
    position: absolute;
    width: 114px;
    height: 169px;
    background-color: white;
    right:0px;
    z-index: 30;
    top: 100%;
   
}

.wholePageCover{
    background: rgba(57, 55, 72, 0.22);
    position: fixed;
    top: 80px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 20;
}

.currenciesContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    right:0px;
    z-index: 30;
    top: 100%;
   
}

.currencyButton{
  padding-left: 32px;
  padding-right: 32px;
    height: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    cursor: pointer;
}