.container {
    width: 100%;
}

.flexCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.pageContainer{
    width: 90%;
    max-width: 1440px;
}

.categoryName{
 margin-top: 2px;
    height: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #1D1F22;
}

.gridCardContainer{
    width: 100%; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: calc((1440px - (386px*3))/2);
    position: relative;

}


.footer{
    height: 4rem;
    width: 100%;
}

.pageContainerCart{
    width: 90%;
    max-width: 1440px;
}